<body>
  <% all_allergens = Allergen.all %>


  <h1 class="center-heading"><strong>Allergens</strong></h1>
  <div class="panel-wrapper">
    <% all_allergens = Allergen.all %>
    <%= render 'shared/allergen_panels', obj: all_allergens %>
  </div>
  <br>
  <div class="center">
    <%= link_to "Add New Allergen", new_allergen_path, class: "btn btn-lg btn-primary" %>
  </div>
  <br>
</body>