<h1 class="center-heading">Products</h1>
<%= render 'shared/products_table', obj: @products %>

<div class="center product-actions">
  <%= link_to "Create New Product", new_product_path, class: "btn btn-lg btn-primary" %>
</div>
<br>
<br>

